<div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg"
  style="background-image: url('https://images.unsplash.com/photo-1506610654-064fbba4780c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
  <span class="mask bg-gradient-dark opacity-6"></span>

</div>
<div class="container">
  <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
    <div class="col-xl-5 col-lg-5 col-md-5 mx-auto">
      <div class="card z-index-0">
        <div class="card-header text-center pt-4">
          <div class="col-lg-5 text-center mx-auto">
            <h1 class=" mb-2 mt-5">THANK YOU!</h1>

            <span class="text-lead">
              <i class="fa fa-check" aria-hidden="true"></i>
            </span>
            <p class="text-lead">You can follow us via: </p>
          </div>
          <div class="row px-xl-5 px-sm-4 px-3">

            <div class="col-3 px-1">
              <a class="btn btn-outline-light w-100" href="javascript:;">
                <span class="text-lg fab fa-twitter"></span>

              </a>
            </div>
            <div class="col-3 me-auto px-1">
              <a class="btn btn-outline-light w-100" href="javascript:;">
                <span class="text-lg fab fa-facebook"></span>
              </a>
            </div>

            <div class="col-3 me-auto px-1">
              <a class="btn btn-outline-light w-100" href="javascript:;">
                <span class="text-lg fab fa-instagram"></span>
              </a>
            </div>

            <div class="col-3 me-auto px-1">
              <a class="btn btn-outline-light w-100" href="javascript:;">
                <span class="text-lg fab fa-whatsapp"></span>
              </a>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
