i{
  color: green;
  font-size: 100px;
}
.text-white{
  font-size: 40px;
}

.fa-facebook{
  color: blue;
}
.fa-twitter{
color: rgb(151, 228, 249);
}
.fa-instagram{
  color: red;
}

.fa-whatsapp{
  color: rgb(111, 213, 111);
}
