<div class="row justify-content-center">
  <div class="col-md-6 mt-4">
    <div class="card">
      <div class="card-header pb-0 px-3">
        <h6 class="mb-0">Billing Information</h6>
      </div>
      <div class="card-body pt-4 p-3">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label for="example-text-input" class="form-control-label">Name</label>
                <input class="form-control" formControlName="name" type="text" required placeholder="Enter Name">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="example-text-input" class="form-control-label"></label>
                <button type="button" class="btn bg-gradient-dark w-100 mt-1" (click)="addAgent()">Send</button>
              </div>
            </div>
          </div>
        </form>


        <ul class="list-group">
          <li *ngFor="let list of agentList"
            class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
            <div class="d-flex flex-column">
              <h6 class="mb-3 text-sm">{{list.name}}</h6>
              <span class="mb-2 text-xs">Referral link:
                <span class="text-dark font-weight-bold ms-sm-2">
                  <u>
                    <a href="{{baseURL}}/{{list.RefID}}">{{baseURL}}/<strong>{{list.RefID}}</strong>
                    </a>
                  </u>
                </span>
              </span>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
