<body class="g-sidenav-show  bg-gray-100 virtual-reality">

  <div class="border-radius-xl mx-4 position-relative">
    <main class="main-content border-radius-lg">
      <div class="section min-vh-50 position-relative transform-scale-0 transform-scale-md-7">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-7  " style="padding-left: 0px;  padding-right: 0px;">
              <img src="../../../assets/img/logos.png" class="img-fluid" style="width: auto;">
              <div class="ms-auto text-center">

                <h1 class="text text-success" style="font-size: 60px;">Welcome to CarFlix</h1>
                <h2>Please click on the button below to proceed</h2>
                <button type="button" class="btn bg-gradient-success w-40  mb-2">Proceed</button>
                <div
                  class="card card-background card-background-mask-gray move-on-hover align-items-center mt-3 overflow-hidden">
                  <div class="full-background"
                    style="background-image: url('https://images.unsplash.com/photo-1511919884226-fd3cad34687c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');opacity: 0.5;">
                  </div>
                  <div class="card-body">
                    <h3 style="font-size: 60px; color: white;">
                      Coming Soon
                    </h3>

                    <p style="font-size: 25px; color: white;">
                      Our website is under construction, follow us for update now!
                    </p>
                    <div class="flex-w flex-sa-m cd100 bor1 p-t-42 p-b-22 p-l-50 p-r-50 respon1 "
                      style="font-size: 30px;">


                      <div class="flex-col-c-m wsize2 m-b-20">
                        <span class="l1-txt2 p-b-4 days"><strong>{{daysToDday}}</strong></span>
                        <span class="m2-txt2">Days</span>
                      </div>
                      <span class="l1-txt2 p-b-22">:</span>
                      <div class="flex-col-c-m wsize2 m-b-20">
                        <span class="l1-txt2 p-b-4 hours">
                          <strong>{{hoursToDday}}</strong>
                        </span>
                        <span class="m2-txt2">Hours</span>
                      </div>
                      <span class="l1-txt2 p-b-22 respon2">:</span>
                      <div class="flex-col-c-m wsize2 m-b-20">
                        <span class="l1-txt2 p-b-4 minutes"><strong>{{minutesToDday}}</strong></span>
                        <span class="m2-txt2">Minutes</span>
                      </div>
                      <span class="l1-txt2 p-b-22">:</span>
                      <div class="flex-col-c-m wsize2 m-b-20">
                        <span class="l1-txt2 p-b-4 seconds"><strong>{{secondsToDday}}</strong></span>
                        <span class="m2-txt2">Seconds</span>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-4 col-md-4 pt-5 pt-lg-0 ms-lg-4">
              <img class="w-300 " src="../../../assets/img/dualmobile.png" alt="image sun">
            </div>
          </div>

        </div>
      </div>
    </main>
  </div>



  <body>
