<!-- <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg"
  style="background-image: url('https://images.unsplash.com/photo-1506610654-064fbba4780c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')">
  <span class="mask bg-gradient-dark opacity-6"></span>
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg-5 text-center mx-auto">
        <h1 class="text-white mb-2 mt-5">Welcome!</h1>
        <p class="text-lead text-white">Follow theses simple steps to create and account with us!
        </p>
      </div>
    </div>
  </div>
</div> -->

<div id="video-container">
  <video autoplay loop muted>
    <source src="assets/vid/logointro.mp4" type="video/mp4" />
  </video>
  <div class="caption">
    <h2 class="text-lead text-white">Creating Account</h2>
  </div>
</div>
