<app-hero></app-hero>
<div class="container">
  <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
    <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
      <div class="card z-index-0" style=" margin-top: 80px;">
        <div class="card-header text-center pt-4">
          <h5>Enter Code: </h5>
        </div>
        <div class="card-body">
          <form>
            <div class="mb-3 text-center">
              <ng-otp-input (onInputChange)=" onOtpChange($event)" [config]="config">
              </ng-otp-input>
            </div>
            <div class="text-center">
              <button type="button" class="btn bg-gradient-dark w-100 my-4 mb-2" (click)="verifyCode()"
                [disabled]="submitted == true"> Verify Code<span
                  [className]="submitted ? 'spinner-border spinner-border-sm' : ''" role="status"
                  aria-hidden="true"></span></button>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-ripple-multiple"
  [fullScreen]="true">
  <p style="color: white"> Verifying... </p>
</ngx-spinner>
